<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/recipes">Recipe</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!(authState | async).authenticated">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>
        <ng-template [ngIf]="(authState | async).authenticated">
          <li><a (click)="logout()">Logout</a></li>
          <li class="dropdown" appDropdown *ngIf="(authState | async).authenticated">
            <a style="cursor: pointer" class="dropdown-toggle" role="button">
              Manage <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer" (click)="saveRecipes()">Save data</a></li>
              <li><a style="cursor: pointer" (click)="loadRecipes()">Fetch data</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
